@import "variables.css";

html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: var(--font-main);
  background-size: cover;
  background-position: center center;
  background-image: url("../img/marcel-christen-oWYU54Pu0Tk-unsplash.jpg");
  color: var(--light);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark);
  box-shadow: 0 0 1em 0 var(--dark);
  background-image: linear-gradient(to bottom, rgba(0,0,0,.1), transparent);
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav > * {
  padding: .5em;
  text-align: center;
  text-decoration: none;
  color: var(--light);
}

main {
  /**
   * Scroll snap technique experiment
   * @see https://css-tricks.com/practical-css-scroll-snapping/
   */
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}
/*Photo by <a href="https://unsplash.com/@deltree22?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marcel Christen</a> on <a href="https://unsplash.com/s/photos/vegetation?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/


main > section {
  scroll-snap-align: start;
  box-sizing: border-box;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure {
  max-width: 80vw;
}

figure > * {
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 2em;
}

h1 { font-family: var(--font-stand); }

section:not(#home) {
  color: black;
  background-color: rgba(255,255,255, .87);
}

section p {
  line-height: 1.3;
  font-weight: var(--font-light);
}

section > h1 { font-size: 2em; }
section > article > h1 {
  font-family: var(--font-main);
  font-weight: var(--font-heavy);
  font-size: 1.1em;
}

section > p {
  text-align: center;
}

#home figure {
  background-color: rgba(255, 255, 255, .15);
  --dark: rgba(9, 21, 2, .7);
  box-shadow: 0 0 1em 0 rgba(255, 255, 255, .15);
  background-image: linear-gradient(to top, rgba(0,0,0,.4), 20% transparent);
  border-radius: .2em;
}
#home figure h1 {
  font-size: 4em;
  text-align: center;
  margin: 1rem;
  line-height: 1.2;
  max-width: min(50em, 100%);
  font-family: var(--font-logo);
  color: var(--light);
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed var(--light);
  margin-bottom: 2rem;
}

#home figure h2 {
  text-align: center;
  font-size: 1.2em;
  font-weight: var(--font-heavy);
  margin: 0;
  padding: .5em;
  /**
   * @see https://css-tricks.com/methods-contrasting-text-backgrounds/
   */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --dark: rgba(9, 21, 2, .7);
  background-color: var(--dark);
  box-shadow: 0 0 .5em 0 var(--dark);
}
#home figure a {
  text-decoration: none;
  padding: .35em .55em;
  border-radius: .1em;
  color: var(--light);
}

/* vim: set expandtab: */
/* vim: set ts=2 sw=2: */
