:root {
  --dark: rgba(9, 21, 2, 1);
  --light: lemonchiffon;
  --stand: #515e24;

  --font-logo: 'Train One', sans-serif;
  --font-stand: 'Dancing Script', cursive;

  --font-main: 'Manjari', sans-serif;
  --font-light: 100;
  --font-heavy: 400;
  --font-title: 700;
}
